@model StockTrade

<div class="container">
    <ul class="symbol-container">
        <li>@Model.StockName</li>
        <li>@Model.StockSymbol</li>
    </ul>
    <div class="price">&dollar; @Model.Price</div>
</div>